.container-2 {
  margin: 30px 50px 0 50px;
}
.logo {
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
}
.text-join {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
.login-input {
  margin-top: 20px;
  background-color: transparent;
  outline: none;
  border: 1px solid rgb(83, 100, 113);
  height: 50px;
  border-radius: 5px;
  padding: 10px 10px 0;
}
.holder {
  top: 35px;
  left: 5px;
  width: 100%;
  overflow: hidden;
}

.user-box input:focus {
  border: 2px solid #0d6efd;

  caret-color: #0d6efd;
}
.user-box input:focus ~ label {
  top: 20px;
  left: 10px;
  font-size: 13px;
  color: #0d6efd;
  transition: 0.2s;
}
.user-box input:valid ~ label {
  top: 20px;
  left: 10px;
  font-size: 13px;
}
.google-logo {
  width: 23px;
  height: 26px;
}
.line {
  width: 43%;
  height: 15px;
}
.text {
  margin: 40px 0;
  color: rgb(83, 100, 113);
  font-size: 14px;
}
.btn-outline-light {
  border: 1px solid rgb(83, 100, 113);
}
.forgot-password {
  font-size: 12px;
  padding-left: 8px;
}
.login-btn {
  margin-top: 200px;
}
